
{% extends 'base.html.twig' %}

{% block title %}Mon compte{% endblock %}

{% block stylesheets %}
    {{parent()}}
    {{ encore_entry_link_tags('mon_compte') }}

{% endblock %}

{% block javascripts %}
    {{parent()}}
    {{ encore_entry_script_tags('mon_compte') }}
{% endblock %}

{% block body %}
    <!-- END NAV -->
    <div class="container">
        <div class="columns">
            <div class="column is-3 ">
                <aside class="menu is-hidden-mobile">
                    <p class="menu-label">
                        General
                    </p>
                    <ul class="menu-list">
                        <li><a class="is-active">Accueil</a></li>
                    </ul>
                    <p class="menu-label">
                        Tricks
                    </p>
                    <ul class="menu-list">
                        {% if user.isVerified %}
                        <li><a href="{{path('app_trick_new')}}">Nouveau</a></li>
                        {% else %}
                        <li>Validez votre email pour créer un nouveau Trick</li>
                        {% endif %}
                        <li><a href="{{path('app_trick_index')}}">Liste</a></li>
                    </ul>
                    <p class="menu-label">
                        Utilisateur
                    </p>
                    <ul class="menu-list">
                        <li><a href="{{path('app_user_edit', {'id' : user.id})}}">Editer les informations de mon compte</a></li>
                    </ul>
                </aside>
            </div>
            <div class="column is-9">
                <section class="hero is-info welcome is-small">
                    <div class="hero-body">
                        <div class="container">
                            <h1 class="title">
                                Bonjour, {{user.name}}.
                            </h1>
                        </div>
                    </div>
                </section>
                <section class="info-tiles">
                    <div class="tile is-ancestor has-text-centered">
                        <div class="tile is-parent">
                            <article class="tile is-child box">
                                <p class="title">{{users}}</p>
                                <p class="subtitle">Utilisateurs</p>
                            </article>
                        </div>
                        <div class="tile is-parent">
                            <article class="tile is-child box">
                                <p class="title">{{tricks}}</p>
                                <p class="subtitle">Tricks</p>
                            </article>
                        </div>
                        <div class="tile is-parent">
                            <article class="tile is-child box">
                                <p class="title">{{comments}}</p>
                                <p class="subtitle">Commentaires</p>
                            </article>
                        </div>
                    </div>
                </section>
                <div class="columns">
                    <div class="column is-12">
                        <div class="card events-card">
                            <header class="card-header">
                                <p class="card-header-title">
                                    Tricks
                                </p>
                                <a href="#" class="card-header-icon" aria-label="more options">
                  <span class="icon">
                    <i class="fa fa-angle-down" aria-hidden="true"></i>
                  </span>
                </a>
                            </header>
                            <div class="card-table">
                                <div class="content">
                                    <table class="table is-fullwidth is-striped">
                                        <tbody>
                                            {% for trick in alltricks %}
                                            <tr>
                                                <td width="5%"><i class="fa fa-bell-o"></i></td>
                                                <td>{{trick.name}}</td>
                                                <td class="level-right"><a class="button is-small is-primary" href="{{path('app_trick_show', {id:trick.id})}}">Voir</a></td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <footer class="card-footer">
                                <a href="{{path('app_trick_index')}}" class="card-footer-item">Voir tout</a>
                            </footer>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
