{% extends "base.html.twig" %}

  {% block title %}
    Snowtricks - tricks
  {% endblock %}

  {% block stylesheets %}
    {{parent()}}
    {{ encore_entry_link_tags('home') }}
  {% endblock %}
  {% block javascripts %}
    {{parent()}}
    {{ encore_entry_script_tags('app') }}
    {{ encore_entry_script_tags('home') }}
  {% endblock %}
    {% block body %}
    <div class="home_head" style="background-image: url({{ asset('img/banner.jpg') }});">
      <div class="home_overlay"></div>
      <div class="column has-text-centered">
        <h1 class="title" style="color: var(--dark);">Snowtricks - Accueil</h1><br>
      </div>
    </div>
    <div class="container">
      <div class="upArrow hidden"><img width="60" height="60" src="{{asset('img/up-arrow.png')}}"></div>
      <div class="section">
        <div id="app" class="row columns is-multiline">
          {% for trick in tricks %}
            <div v-for="card in cardData" key="card.id" class="column is-4 sm-is-12">
              <a style="text-decoration:none;" href="{{ path('app_trick_show', {id: trick.id}) }}">
                <div class="card large">
                  <div class="card-image">
                    <figure class="image is-16by9">
                      {% if trick.photos|first %}
                        <img src="{{ asset('img/trick/' ~ trick.id ~ '/' ~ trick.photos[0].url) }}" alt="Image">
                      {% else %}
                        <img src="https://placehold.co/600x400" alt="Image">
                      {% endif %}
                    </figure>
                  </div>
                  <div class="card-content">
                    <div class="media">
                      <div class="media-content flex" style="justify-content:space-between;">
                        <p class="title is-4 no-padding" style="word-break:normal;">{{trick.name}}</p>
                        <div class="banner_buttons flex">
                          {% if app.user %}
                              <a style="width:60px;" href="{{ path('app_trick_edit', {'id': trick.id}) }}"><img width="30" height="30" src="{{asset('img/pen.png')}}"></a>
                              {{ include('trick/_delete_form.html.twig') }}
                          {% endif %}
                        </div>
                      </div>
                    </div>
                    <div class="content">
                      <p>
                      {{trick.content[0:100]}}
                      {% if trick.content|length > 100 %}
                        {{ '...' }}
                      {% endif %}
                      </p>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
    {% endblock %}

    {% block footer %}

    <footer class="footer">
      <div class="container">
        <div class="content has-text-centered">
          <div class="soc">
            <a href="#"><i class="fa fa-github-alt fa-lg" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-youtube fa-lg" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-facebook fa-lg" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-twitter fa-lg" aria-hidden="true"></i></a>
          </div>
          <p>
            <strong>Bulma</strong> by <a href="http://jgthms.com">Jeremy Thomas</a>.
            The source code is licensed <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. <br>
          </p>
        </div>
      </div>
    </footer>

    {% endblock %}
