{% extends "base.html.twig" %}

  {% block title %}
    Cards List - Bulma Templates
  {% endblock %}

  {% block stylesheets %}
  {{parent()}}
  {% endblock %}
  {% block javascripts %}
    <script src="https://kit.fontawesome.com/7dc3015a44.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.14"></script>
    <script src="{{ asset("/js/home.js") }}"></script>

  {% endblock %}
    {% block body %}
    <div class="container">
      <div class="section">
        <div class="columns">
          <div class="column has-text-centered">
            <h1 class="title" style="color: ghostwhite;">Bulma Card Layout Template</h1><br>
          </div>
        </div>
        <div id="app" class="row columns is-multiline">
          {% for trick in tricks %}
            <div v-for="card in cardData" key="card.id" class="column is-4">
              <a href="{{ path('app_trick_show', {id: trick.id}) }}">
                <div class="card large">
                  <div class="card-image">
                    <figure class="image is-16by9">
                      <img src="{{ card.image }}" alt="Image">
                    </figure>
                  </div>
                  <div class="card-content">
                    <div class="media">
                      <div class="media-left">
                        <figure class="image is-48x48">
                          <img src="{{ card.user.avatar }}" alt="Image">
                        </figure>
                      </div>
                      <div class="media-content">
                        <p class="title is-4 no-padding">{{trick.name}}</p>
                      </div>
                    </div>
                    <div class="content">
                      {{trick.content}}
                      <div class="background-icon"><span class="icon-twitter"></span></div>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
    {% endblock %}

    {% block footer %}

    <footer class="footer">
      <div class="container">
        <div class="content has-text-centered">
          <div class="soc">
            <a href="#"><i class="fa fa-github-alt fa-lg" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-youtube fa-lg" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-facebook fa-lg" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-twitter fa-lg" aria-hidden="true"></i></a>
          </div>
          <p>
            <strong>Bulma</strong> by <a href="http://jgthms.com">Jeremy Thomas</a>.
            The source code is licensed <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. <br>
          </p>
        </div>
      </div>
    </footer>

    {% endblock %}
