{% extends "base.html.twig" %}

  {% block title %}
    Snowtricks - tricks
  {% endblock %}

  {% block stylesheets %}
    {{parent()}}
    {{ encore_entry_link_tags('home') }}
  {% endblock %}
  {% block javascripts %}
    {{parent()}}
    {{ encore_entry_script_tags('app') }}
    {{ encore_entry_script_tags('home') }}
  {% endblock %}
    {% block body %}
    <div class="home_head" style="background-image: url({{ asset('img/banner.jpg') }});">
      <div class="home_overlay"></div>
      <div class="column has-text-centered">
        <h1 class="title" style="color: var(--dark);">Snowtricks - Accueil</h1><br>
      </div>
    </div>
    <div class="container">
      <div class="upArrow hidden"><img width="60" height="60" src="{{asset('img/up-arrow.png')}}"></div>
      <div class="section">
        <div id="app" class="row columns is-multiline">
          {{ include('home/_partial_tricklist.html.twig') }}
        </div>
      </div>
    </div>
    {% endblock %}

    {% block footer %}

    <footer class="footer">
      <div class="container">
        <div class="content has-text-centered">
          <div class="soc">
            <a href="#"><i class="fa fa-github-alt fa-lg" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-youtube fa-lg" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-facebook fa-lg" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-twitter fa-lg" aria-hidden="true"></i></a>
          </div>
          <p>
            <strong>Bulma</strong> by <a href="http://jgthms.com">Jeremy Thomas</a>.
            The source code is licensed <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. <br>
          </p>
        </div>
      </div>
    </footer>

    {% endblock %}
