{% extends 'base.html.twig' %}
{% block title %}Snowtricks - Login{% endblock %}

{% block stylesheets %}
    {{parent()}}
{% endblock %}
{% block javascripts %}
  {{parent()}}
  {{ encore_entry_link_tags('login') }}
{% endblock %}

  {% block body %}
  
    <section class="hero is-fullheight">
      <div class="hero-body has-text-centered">
        <div class="login">
            {% if error %}
                <div class="error_msg">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}
            <div class="form_connexion_logo">
              <img src="{{ asset('img/logo.png') }}" height="60" width="60" alt="Logo">
              Mot de passe oublié
            </div>
            <form action="{{ path('app_forgot') }}" method="post">
            <div class="field">
              <div class="control">
                <label>Mon adresse email pour modifier mon mot de passe</label>
                <input class="input is-medium is-rounded" type="email" placeholder="hello@example.com" autocomplete="email" name="email" required />
              </div>
            </div>
            <br />
            <button class="button is-block is-fullwidth is-primary is-medium is-rounded" type="submit">
              Demander un changement de mot de passe par email
            </button>
            <span style="color:dimgray">Vérifiez vos spams !</span>
          </form>
          <br>
          <nav class="level">
            <div class="level-item has-text-centered">
              <div>
                <a href="{{path('app_login')}}">Se connecter</a>
              </div>
            </div>
            <div class="level-item has-text-centered">
              <div>
                <a href="{{path('app_user_new')}}">Créer un compte</a>
              </div>
            </div>
          </nav>
        </div>
      </div>
    </section>
{% endblock %}