{% extends 'base.html.twig' %}

{% block title %}Editer Trick{% endblock %}
{% block stylesheets %}
    {{parent()}}
{% endblock %}
{% block javascripts %}
  {{parent()}}
  {{ encore_entry_link_tags('login') }}
{% endblock %}
{% block body %}
    <div class="form_supercontainer">
        <h1>Editer Trick</h1>
        <div class="form_container">
            {{ include('trick/_form.html.twig', {'button_label': 'Mettre a jour'}) }}
        </div>
        {{ include('trick/_delete_form.html.twig') }}

        <a class="backto" href="{{ path('app_trick_show', {'slug':trick.slug}) }}">retour au trick</a>

    </div>

{% endblock %}
