{% extends 'base.html.twig' %}

{% block title %}Snowtricks - Enregistrer{% endblock %}

{% block stylesheets %}
    {{parent()}}
{% endblock %}
{% block javascripts %}
  {{parent()}}
  {{ encore_entry_link_tags('login') }}
{% endblock %}
{% block body %}
<section class="hero is-fullheight">
    <div class="hero-body has-text-centered">
        <div class="login">

            <h1 class="form_connexion_logo">
                <img src="{{ asset('img/logo.png') }}" height="60" width="60" alt="Logo">
                Nouvel utilisateur</h1>

            {{ include('user/_form.html.twig') }}
            
            <a href="{{ path('app_login') }}">déjà un compte ?</a>
        </div>

    </div>


</section>


{% endblock %}
